@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* *,
*::before,
*::after {
  font-family: "Poppins", sans-serif !important;
  font-weight: 100 !important;
} */

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  background-color: rgb(255, 255, 255); /* 修改页脚背景颜色 */
  color: rgb(0, 0, 0); /* 修改页脚文字颜色 */
  padding: 20px; /* 修改页脚内边距 */
  /* 添加任何其他页脚样式 */
  font-size: 11px;
}
